body {
    margin: 45px auto;
    width: 75%;
}
nav ul, footer ul {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1.5em;
}
nav ul li, footer ul li {
    font-family: 'Kulim Park', sans-serif;
    display: inline;
    margin-left: 10px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1.7em;
}
p {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    color: #333;
}
footer {
    font-size: 1em;
}

ul { 
    font-family: 'Kulim Park', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1em;
}

li { 
    font-family: 'Kulim Park', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1em;
    color: #333;
}
