body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Kulim Park', sans-serif;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: 'Kulim Park', sans-serif;    
}
p {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
