body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1em;
}
nav ul li, footer ul li {
    font-family: 'Kulim Park', sans-serif;
    display: inline;
    margin-right: 10px;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 2em;
}
p {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-size: .8em;
}

ul.posts { 
    font-family: 'Kulim Park', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: 'Kulim Park', sans-serif;
    list-style: none;
    font-size: 1em;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
